body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1000px;
}

.content {
  display: flex;
}

.docs {
  min-width: 600px;
}

.nav {
  margin-right: 40px;
}

code {
  display: block;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  margin: 2px;
}

h4 {
  margin-bottom: 2px;
}

.arg-type {
  color: blue;
  text-decoration: none;
}

.arg-type a {
  text-decoration: none;
}

h3 {
  background-color: rgb(240, 240, 240);
}

.method-img img {
  vertical-align: middle;
}

h1 img {
  width: 24px;
}
